body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.main {
  background-color: #212121;
  cursor: default;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.content {
  height: 100%;
  width: 100%;
}

.panel {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  width: 624px;
}

.panel-content {
  background-color: #fafafa;
  border: 0;
  height: 100%;
  pointer-events: none;
  width: 100%;
}

.panel.hide {
  opacity: 0;
}
