body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.main {
  background-color: #fafafa;
  margin: 0;
}

.panel {
  border: 3px solid #212121;
  border-radius: 3px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 576px;
}

.panel.no-border {
  border: 0;
}
